<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <header th:fragment="header2">
      <nav class="navbar navbar-expand-lg" style="width: 100%">
        <div class="container" style="background-color: #f8f8f8">
          <a class="navbar-brand" href="/">Logo</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/bienvenida"
                  >Menú</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Usuario</a
                >
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" th:href="@{/usuario/crearUsuario}">
                      Agregar usuario</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" th:href="@{/usuario}"
                      >Ver usuarios</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Empleador
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/empleador/crearEmpleador"
                      >Agregar empleador</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="/empleador/listaEmpleadores"
                      >Ver empleadores</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Trabajador
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/trabajador/crearTrabajador"
                      >Agregar trabajador</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="/trabajador/listaTrabajadores"
                      >Ver trabajadores</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Liquidación
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Ver liquidación</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Nueva liquidación</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-secondary" href="/">Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
