<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Liquidacion</title>
    <!-- <link rel="stylesheet" href="/css/style.css" type="text/css">
    -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="ruta/a/font-awesome.css" />
  </head>

  <body>
    <header th:include="plantillas/header2.html"></header>
    <section>
      <div class="container py-5 min-vh-100">
        <h3 style="text-align: center">Editar Liquidacion</h3>
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-7 col-lg-5 col-xl-5">
            <form
              th:action="@{/liquidacion/editarLiquidacion}"
              th:object="${liquidacion}"
              method="POST"
            >
              <!-- Campo de selección de Trabajador -->
              <select
                name="trabajadorId"
                class="form-select form-control-lg"
                required
              >
                <option>Trabajador</option>
                <option
                  th:each="trabajador : ${trabajadores}"
                  th:value="${trabajador.idTrabajador}"
                  th:text="${trabajador.nombre + ' ' + trabajador.apellido1}"
                  th:selected="${trabajador.idTrabajador == liquidacion.trabajador.idTrabajador}"
                ></option>
              </select>

              <!-- Sueldo imponible input -->
              <div class="form-outline mb-4">
                <label class="form-label">Sueldo Imponible</label>
                <input
                  type="number"
                  name="sueldoImponible"
                  th:value="${liquidacion.sueldoImponible}"
                  class="form-control form-control-lg"
                  required
                  placeholder="Ingrese sueldo imponible"
                />
              </div>

              <!-- Campo de selección de Institución de Salud -->
              <div class="form-outline mb-4">
                <label for="institucionSalud" class="form-label"
                  >Institución de Salud</label
                >
                <select
                  name="institucionSalud"
                  class="form-select form-control-lg"
                  required
                >
                  <option
                    th:each="institucion : ${institucionesSalud}"
                    th:value="${institucion.idInstitucionSalud}"
                    th:selected="${institucion.idInstitucionSalud == liquidacion.institucionSalud.idInstitucionSalud}"
                    th:text="${institucion.descripcion}"
                  ></option>
                </select>
              </div>

              <!-- Monto Salud input -->
              <div class="form-outline mb-4">
                <label class="form-label">Monto Salud</label>
                <input
                  name="montoInstitucionSalud"
                  th:value="${liquidacion.montoInstitucionSalud}"
                  disabled
                  class="form-control form-control-lg"
                />
              </div>

              <!-- Campo de AFP -->
              <div class="form-outline mb-4">
                <label for="institucionPrevision" class="form-label">AFP</label>
                <select
                  name="institucionPrevision"
                  class="form-select form-control-lg"
                  required
                >
                  <option>Seleccione AFP</option>
                  <option
                    th:each="institucion : ${institucionesPrevision}"
                    th:value="${institucion.idInstitucionPrevision}"
                    th:selected="${institucion.idInstitucionPrevision == liquidacion.institucionPrevision.idInstitucionPrevision}"
                    th:text="${institucion.descripcion}"
                  ></option>
                </select>
              </div>

              <!-- Monto AFP input -->
              <div class="form-outline mb-4">
                <label class="form-label">Monto AFP</label>
                <input
                  name="montoInstitucionPrevisional"
                  th:value="${liquidacion.montoInstitucionPrevisional}"
                  disabled
                  class="form-control form-control-lg"
                />
              </div>

              <!-- Total Descuentos input -->
              <div class="form-outline mb-4">
                <label class="form-label">Total Descuentos</label>
                <input
                  name="totalDescuento"
                  th:value="${liquidacion.totalDescuento}"
                  disabled
                  class="form-control form-control-lg"
                />
              </div>

              <!-- Total Haberes input -->
              <div class="form-outline mb-4">
                <label class="form-label">Total Haberes</label>
                <input
                  name="totalHaberes"
                  th:value="${liquidacion.totalHaberes}"
                  disabled
                  class="form-control form-control-lg"
                />
              </div>

              <!-- Anticipo input -->
              <div class="form-outline mb-4">
                <label class="form-label">Anticipo</label>
                <input
                  name="anticipo"
                  th:value="${liquidacion.anticipo}"
                  type="number"
                  step="any"
                  class="form-control form-control-lg"
                />
              </div>

              <!-- Sueldo Líquido -->
              <div class="form-outline mb-4">
                <label tclass="form-label">Sueldo Líquido</label>
                <input
                  name="sueldoLiquido"
                  th:value="${liquidacion.sueldoLiquido}"
                  disabled
                  class="form-control form-control-lg"
                />
              </div>

              <br />
              <br />

              <!-- Submit button -->
              <button
                type="submit"
                class="btn btn-primary btn-lg btn-block w-100"
              >
                Editar Liquidación
              </button>
              <br /><br />

              <a th:href="@{/bienvenida}">
                <button
                  class="btn btn-secondary btn-lg btn-block w-100"
                  type="button"
                >
                  Cancelar
                </button>
              </a>
            </form>
          </div>
        </div>
      </div>
    </section>
    <br /><br />

    <script th:replace="plantillas/template :: script"></script>
  </body>
</html>
