<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista Empleadores</title>
    <!-- <link rel="stylesheet" href="/css/styles.css" type="text/css">
    -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="ruta/a/font-awesome.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg" style="width: 100%">
        <div class="container" style="background-color: #f8f8f8">
          <a class="navbar-brand" href="/">Logo</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/bienvenida"
                  >Menú</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Usuario</a
                >
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" th:href="@{/usuario/crearUsuario}"
                      >Agregar usuario</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" th:href="@{/usuario}"
                      >Ver usuarios</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Empleador
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item"
                      th:href="@{/empleador/crearEmpleador}"
                      >Agregar empleador</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      th:href="@{/empleador/listaEmpleadores}"
                      >Ver empleadores</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Trabajador
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#">Agregar trabajador</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Ver trabajadores</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Liquidación
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Ver liquidación</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Nueva liquidación</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-secondary" href="/">Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        <section>
          <h3 style="text-align: center">Empleadores</h3>
          <br />
          <!-- Campo oculto para el idUsuario 
            <input
            type="hidden"
            name="usuario.idUsuario"
            th:value="${usuario.idUsuario}"
            />
          -->
          <!--/{idUsuario}(idUsuario=${usuario.idUsuario})-->
          <div class="button-container">
            <a
              th:href="@{/empleador/crearEmpleador}"
              class="btn btn-primary btn-lg"
            >
              Agregar Empleador
            </a>
          </div>
          <br />

          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Id</th>
                <th>Run</th>
                <th>Nombre</th>
                <th>Apellido 1</th>
                <th>Email</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="empleador : ${empleadores}">
                <td th:text="${empleador.idEmpleador}"></td>
                <td th:text="${empleador.run}"></td>
                <td th:text="${empleador.nombre}"></td>
                <td th:text="${empleador.apellido1}"></td>
                <td th:text="${empleador.email}"></td>
                <td class="text-center">
                  <a
                    th:href="@{/empleador/{idEmpleador}/editar(idEmpleador=${empleador.idEmpleador})}"
                    class="m-2 btn btn-info"
                    >Editar</a
                  >
                  <a
                    th:href="@{/empleador/{idEmpleador}/eliminar(idEmpleador=${empleador.idEmpleador})}"
                    class="m-2 btn btn-danger"
                    >Eliminar</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <br />
        </section>
      </div>
    </main>

    <div class="container">
      <footer style="background-color: #ebebeb">
        <div class="container p-4">
          <div class="row">
            <div class="text-center p-3">
              <h5 class="mb-3" style="letter-spacing: 2px">Sprint Módulo 6</h5>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="text-center p-3">© 2023 Bootcamp Java</div>
      </footer>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>
</html>
