<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:insert="~{plantillas/head2.html}">
    <title>Inicio Sesión</title>
  </head>

  <body>
  <header th:replace="plantillas/template :: header"></header>

    <section class="vh-100">
      <div class="container py-5 h-100">
        <h3 style="text-align: center">Inicio Sesión</h3>
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-7 col-lg-5 col-xl-5">
            <form action="/login" method="POST">
              <!-- Run input -->
              <div class="form-outline mb-4">
                <label class="form-label">Run</label>
                <input
                  type="number"
                  name="runLogin"
                  class="form-control form-control-lg"
                  required
                  placeholder="Ingrese su run sin guión ni dígito verificador"
                />
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label">Contraseña</label>
                <input
                  type="password"
                  name="passwordLogin"
                  class="form-control form-control-lg"
                  required
                  placeholder="Ingrese su contraseña"
                />
              </div>

              <!-- Submit button -->
              <button
                type="submit"
                class="btn btn-primary btn-lg btn-block w-100"
              >
                Iniciar Sesión
              </button>
              <br />
              <br />

              <!-- Cancelar button -->
              <a th:href="@{/}">
                <button
                  class="btn btn-secondary btn-lg btn-block w-100"
                  type="button"
                >
                  Cancelar
                </button>
              </a>
            </form>
          </div>
        </div>
      </div>
    </section>

  <div class="container" th:replace="plantillas/template :: footer"></div>
  </body>
</html>
